@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

@layer base {
    :root {
        --color-primary: #0D2648;
        --color-secondary: #F3653D;
    }
}

.header-2 {
    @apply p-2 text-xl lg:text-4xl lg:p-8 font-semibold uppercase text-base-secondary
}

.highlight {
    @apply image-full bg-base-100 shadow-xl w-72
}

.ghost-btn {
    @apply btn btn-ghost kbd uppercase hover:bg-secondary-content btn-xs
}

.section-title {
    @apply flex justify-between text-base-secondary items-center
}

/* Add this overlay pseudo-element */
#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black with 40% opacity - adjust as needed */
    z-index: 1;
}

/* Make sure your text content is positioned properly */
#hero-section>* {
    position: relative;
    z-index: 2;
    /* Places content above the overlay */
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-in {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.section {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.section.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.login-page {
  @apply min-h-screen bg-gray-50 flex justify-center dark:bg-transparent
}

.login-card {
  @apply w-full max-w-md p-6 space-y-6;
}

.login-title {
  @apply text-3xl font-semibold;
}

.login-highlight {
  @apply text-[#0D2648];
}

.login-description {
  @apply text-sm text-center text-gray-600;
}

.idp-button {
  @apply rounded-xl h-14 btn w-full border border-gray-300 text-gray-800 flex items-center justify-center gap-2;
}

.divider-text {
  @apply divider text-gray-400 text-sm;
}

.form-input {
  @apply rounded-xl h-14 input w-full border-gray-300 bg-transparent placeholder-gray-500 focus:outline-primary;
}

.form-link {
  @apply text-sm text-primary hover:underline;
}

.form-error {
  @apply alert alert-error text-sm;
}

.form-submit {
  @apply rounded-xl h-14 btn bg-[#0D2648] text-white w-full;
}

.form-footer {
  @apply text-sm text-center;
}

.form-footer-link {
  @apply text-primary dark:text-primary font-semibold hover:underline;
}

.form-container {
  @apply space-y-6;
}

/* Add this to your global CSS file for the animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animate {
  animation: gradient 5s ease infinite;
}